<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <div style="margin-left:auto;margin-right:auto;display:block;">
      <form action="" method="post">
        {% csrf_token %}
        <label for="link">Link</label>
        {{ form.link }}
        {{ form.link.errors }}
        <br>
        <label style="margin-top:5px;" for="slug">Slug</label>
        {{ form.slug }}
        {{ form.slug.errors }}
        <input type="submit" value="Create">
      </form>
    </div>
  </body>
</html>
